{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Match {{ subsession.match_number }}, Round {{ subsession.round_in_match_number }} &ndash; Continue?
{% endblock %}

{% block content %}
    <p> The computer rolled a 100-sided die to determine whether the match is over or continues to another round.</p>
    {% if subsession.round_number in Constants.last_rounds %}
        <p>The die roll was greater than {{ Constants.die_roll_threshold }}.</p>
        <p>This means that the match is over.</p>
    {% else %}
        <p>The die roll was less than or equal to {{ Constants.die_roll_threshold }}.</p>
        <p>This means that the game continues to another round of the same match.</p>
    {%  endif %}


    {% next_button %}

{% endblock %}

{% block styles %}
    <style>

.otree-timer {
    display: none;
}
    </style>
{% endblock %}

